/* styles for main container */
#container {
    display: flex;
    flex-direction: row;
}

/* styles for news div */
.hidden {
    display: none;
}

#newsContainer {
    max-width: 25%;
    margin-left: 3%;
    margin-right: 3%;
}

#newsInputContainer {
    margin: 2%;
    
}

#newsInputContainer input {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#newsSave {
    margin: 2%;
}

.article {
    margin: 4%;
}