/* body {
    background-image: url("./images/NUTSHELL_bg.jpg");
    opacity: 85%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    z-index: -1;
} */


/* styles for main page */
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: row;
}
/* styles for messages div */
#messagesContainer {
    width: 22%;
    margin-left: 3%;
    margin-right: 3%;
}

/* styles for events div */
#events {
    width: 22%;
    margin-left: 3%;
    margin-right: 3%;
}

/* styles for news div */
.hidden {
    display: none;
}

#newsContainer {
    width: 22%;
    margin-left: 3%;
    margin-right: 3%;
}

#newsInputContainer {
    margin: 2%;
    
}

#newsInputContainer input {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#newsOutputContainer {
    display: flex;
    flex-direction: column-reverse;
}

#newsSave {
    margin: 2%;
}

.article {
    margin: 4%;
}

/* styles for tasks div -- Cooper Nichols */
#tasks {
    width: 22%;
    margin-left: 3%;
    margin-right: 3%;
}

.tasks_hidden {
    display: none;
}
